<div id="<%= dom_id post %>">
  <p>
    <strong>Masv269:</strong>
    <%= post.maSV269 %>
  </p>

  <p>
    <strong>Hoten269:</strong>
    <%= post.hoTen269 %>
  </p>

  <p>
    <strong>Lop269:</strong>
    <%= post.lop269 %>
  </p>

  <p>
    <strong>Masach269:</strong>
    <%= post.maSach269 %>
  </p>

  <p>
    <strong>Tensach269:</strong>
    <%= post.tenSach269 %>
  </p>

  <p>
    <strong>Tentacgiac:</strong>
    <%= post.tenTacGiac %>
  </p>

  <p>
    <strong>Tusach269:</strong>
    <%= post.tuSach269 %>
  </p>

  <p>
    <strong>Sobm:</strong>
    <%= post.soBM %>
  </p>

  <p>
    <strong>Ngaymuon:</strong>
    <%= post.ngayMuon %>
  </p>

  <p>
    <strong>Ngaytra:</strong>
    <%= post.ngayTra %>
  </p>

  <p>
    <strong>Ghichu:</strong>
    <%= post.ghichu %>
  </p>

</div>
